.myRef{display:none}
.max-width{max-width:800px;margin:40px auto 0}
p span{color:#c08dff}
/*
.position{}
  .position a{display:block;position:relative;z-index:1}
  .position .badge{border:4px solid #3561eb;border-radius:50%;font-size:12px;display:inline;font-weight:bold;float:right;line-height:32px;padding:0;height:42px;width:42px;right:-12px;top:-12px;position:relative;z-index:2}*/
.navbar-toggler,.navbar-toggler:hover{background:none}
  .navbar-toggler{background-color:#3561eb}
  .navbar-toggler:hover{background-color:#a862ff}
.badge{color:#3561eb;margin-left:2px;padding:.6em .8em}
.banner.banner-curb.banner-particle {
    background:#08091b url(../images/header-bottom.png) bottom center no-repeat;background-size:100%,auto,auto,auto}
.btn.btn-outline:after{background-color:#121536}
.btn,.btn:before,.navbar .navbar-nav > li > a.nav-link.btn:before,.navbar .navbar-nav > li > a.nav-link.btn:after{border-radius:5px}
.navbar .navbar-nav > li > a.nav-link.active{color:#a862ff}
  .navbar .navbar-nav > li:hover > a.nav-link.active {color:#a862ff!important} /* fix default theme */
  .bg-team-exp.mfp-bg{background-image:none}
.navbar .navbar-nav > li > a:hover.nav-link{color:#c08dff}
.navbar .navbar-nav > li:hover a{color:#fff}
h6 span{color:#97a5bf;font-weight:normal}
.distribution{margin:50px 0;text-align:center}
.event-info-token .event-single-info{padding-bottom:10px}
.event-info p{margin-top:20px}
.btn,.btn:before{background-image:none;background-color:#7a0fff}
.play-btn .play{background-image:none;background-color:#3561eb}
  .btn,.btn:hover,.play-btn .play:hover{background-color:#3561eb}
  .btn:hover{background-color:#7a0fff!important;transition:all 0.5s}
.skill-bar-percent{background-image:none;background-color:#7a0fff}
.team-circle .team-photo:before{background-image:linear-gradient(to top, #7a0fff 0%, #3561eb 100%)}
.header-txt h1{margin-top:32px}
h2.lead{font-size:1.5rem!important;font-weight:bold}
p.lead{padding:0 0 30px}
h5.blog-title{font-size:1.25em;text-transform:uppercase}
.single-chart .sub-heading{padding-bottom:40px}
.why .blog-texts{padding:20px 0 40px}
.blog-texts p{color:#a2b4d2}
.text input[type=text],.text input[type=email],textarea{background-color:#f4f4ff;border:1px solid #ced4da;border-radius:.25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;margin:12px 0;padding:4px 12px;width:100%}
.text input[type=text]:focus,.text input[type=email]:focus,textarea:focus{color:#495057;background-color:#fff;border-color:#80bdff;outline:0;box-shadow:0 0 0 0.2rem rgba(0,123,255,.25)}
textarea{width:100%}
.team-circle .team-title{font-size:1em}
.single-skill-bar{text-transform:none}
.skill-bars.right .skill-bar-percent{left:auto;right:0}
.roadmap-line{background:url('../images/roadmap_line.png') center repeat-x;background-position-y:86px}
.team-circle .team-photo:before{opacity:.6;transform:translateX(-50%) scale(0.9)}
.team-profile{max-width:600px}
.team-profile .team-profile-info{padding:40px 0 0;text-align:center}
.team-profile .team-profile-info .sub-title{font-size:1.2em}
.team-profile .team-profile-info.text{font-size:1.2em;padding-top:20px!important}
.alexey_anshakov{background:url('https://webrunes.com/team/img/alexey_anshakov.jpg') center center no-repeat;min-width:200px;min-height:200px}
.michael_bilenko{background:url('https://webrunes.com/team/img/michael_bilenko.jpg') center center no-repeat;min-width:200px;min-height:200px}
.vladimir_spirin{background:url('https://webrunes.com/team/img/vladimir_spirin.jpg') center center no-repeat;min-width:200px;min-height:200px}
.umair_adeeb_shahid{background:url('https://webrunes.com/team/img/umair_adeeb_shahid.jpg') center center no-repeat;min-width:200px;min-height:200px}
.alwaleed_alshehail{background:url('https://webrunes.com/team/img/alwaleed_alshehail.jpg') center center no-repeat;min-width:200px;min-height:200px}
.jillian_zavitz{background:url('https://webrunes.com/team/img/jillian_zavitz.jpg') center center no-repeat;min-width:200px;min-height:200px}
.benjami_anderson{background:url('https://webrunes.com/team/img/benjami_anderson.jpg') center center no-repeat;min-width:200px;min-height:200px}
.roy_sasson{background:url('https://webrunes.com/team/img/roy_sasson.jpg') center center no-repeat;min-width:200px;min-height:200px}
.mikhail_kruchkov{background:url('https://webrunes.com/team/img/mikhail_kruchkov.jpg') center center no-repeat;min-width:200px;min-height:200px}
.vitaly_hatalski{background:url('https://webrunes.com/team/img/vitaly_hatalski.jpg') center center no-repeat;min-width:200px;min-height:200px}
.leonard_tan{background:url('https://webrunes.com/team/img/leonard_tan.jpg') center center no-repeat;min-width:200px;min-height:200px}
.igor_anshakov{background:url('https://webrunes.com/team/img/igor_anshakov.jpg') center center no-repeat;min-width:200px;min-height:200px}
.jun_hao{background:url('https://webrunes.com/team/img/jun_hao.jpg') center center no-repeat;min-width:200px;min-height:200px}
.tab-custom .tab-content p a{padding:0}
.accordion .card .card-header a{padding:15px 45px 15px 30px}
.ico-listing{margin-top:50px}
  .ico-listing img{height:40px}
input[type=radio]{margin-right:4px;position:relative;top:2px}

@media (max-width: 768px) {
  #crowdsale .text-right{text-align:left!important}
  #crowdsale .text-left{text-align:right!important}
  .mobile{text-align:center}
}
